!!!
%html
  %head
    %title= ['BeamIt', @settings[:title]].compact.join(' - ')
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no'}
    = stylesheet_link_tag 'foundation.min'
    = stylesheet_link_tag 'hljs-styles/tomorrow-night'
    = stylesheet_link_tag "#{@presentation}/overrides"
    = stylesheet_link_tag 'layout'
    = stylesheet_link_tag "#{@presentation}/custom"
    = javascript_include_tag 'jquery-2.1.1.min'
    = javascript_include_tag 'underscore-min'
    = javascript_include_tag 'highlight.pack'
    = javascript_include_tag 'qrcode.min'
    = javascript_include_tag 'application'
  %body{ data: { socket_url: url_for("presentations/#{params[:slug]}/socket") } }
    = partial :header
    .content
      .row
        = yield
    = partial :footer
